* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    align-items: center;
    transition: all 0.3s ease;

}

.logo {

    color: #e3b43d;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.3s ease;
}

.logo_image {
    width: 5%;
    display: inline;
    position: relative;
    
}

.logo_heading {
    padding-top: 1rem;
    padding-left: 1rem;
    font-style: italic;
    font-weight: 700;
}

.navbar {
    opacity: 0.9;
    position: fixed;
    width: 100%;
    font-size: 1.2rem;
    z-index: 999;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;

}

.navbar_container {
    top: 100px;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto 0 0;
}

.navbar_list {
    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
    list-style: none;
    transition: all 0.3s ease;
}

.navbar_list_item {
    margin: 0 1rem;
    display: block;
    color: #041e41;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.3s ease;
}

.navbar_list_item:hover {
    color: #e3b43d;
    font-size: larger;
    transition: all 0.3s ease;

}

.todays_data{
    margin: auto;
    display: block;
    color:#ffffff;
    background-color: #e3b43d;
    text-decoration: none;
    outline: none;
    border: none;
    padding: 1rem;
    width: fit-content;
    transition: all 0.5s ease;
}

.todays_data:hover {
    
    color: #e3b43d;
    background-color: #ffffff;
    font-size: larger;
    transition: all 0.5s ease;

}

.hero_container {

    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.hero_text_container {

   margin: auto;
   position: absolute;
   
}

.hero_text {
    transition: all 0.3s ease;
    font-style: italic;
    font-weight: 400;
    margin: 10px;
    padding-right: 15px;
    background-color: #e3b43d;
    width: fit-content;
    color: #ffffff;

}


@media screen and (min-width: 691px) {
    div.hero_text_container {
      font-size: 45px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 690px) {
    div.hero_text_container {
      font-size: 30px;
    }
  }

/* #top_line {

    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#bottom_line {

    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
} */

.yellow_box_bkg {
    opacity: 0.9;
    height: fit-content;
    width: fit-content;
    background-color: #e3b43d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;

}

.hero_text:hover {

    color: #e3b43d;
    background-color: #041e41;
    padding-right: 50px;

}

.first_body_bkg {

    
    width: 100%;
   
    
}

.first_separator {
    height: 600px;
    background-color: #041e41;
    text-align: center;

}

.first_separator_title {
    color: #ffffff;
    font-size: 5rem;
    font-weight: 400;
    padding: 2rem 5rem;
}

.welcome_container {
    margin: 10%;
    line-height: 2rem;
    word-spacing: 5px;
    padding: 10px;
    font-size: larger;
    color: #ffffff;
}

.second_body { 
    height: fit-content;
    background-color: #ffffff;

}

.about_title {
    display: inline;
    color: black;
}

.about_text {
    font-size: larger;
    text-align: center;
    color: #000000;
    padding: 10px;
    background-color: white;
    width: 60%;
    line-height: 2rem;
    word-spacing: 5px;
    margin: 0 auto;
}

.about_container {

    text-align: center;
    width: 100%;
    margin: auto;

}

.photos {

    opacity: 0.9;
    width: 50%;
    margin:  20px auto;


}

.slogan_container {
    
    background-color: #e3b43d;
    padding: 1% 1%;
    margin: auto;
    width: 50%;
    height: 90%;
    transition: all 0.3s ease;
    text-align: center;
    color: #ffffff;

}

.slogan_container:hover {

    background-color: #041e41;
    width: 100%;
    color: #e3b43d;

}

.slogan_text {

    font-style: italic;
    font-size: 400%;
    font-weight: 300;
    
}




.third_body {

    height: 25rem;
    background-color:#e3b43d;

}

.third_body_container {

    margin: auto;
    

}


.third_body_text {
    font-size: larger;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    width: 60%;
    line-height: 2rem;
    word-spacing: 5px;
    margin: 0 auto;
    
}

.fourth_body {
    background-color: #041e41;
    height: 20rem;

}
